<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<script type="text/javascript" th:fragment="javascript">
		$(document).ready(function() {
			
			var stock = 0;

			$("#buscar_producto").autocomplete({

				source : function(request, response) {
					$.ajax({
						url : "/venta/cargar-productos",
						dataType : "json",
						data : {
							term : request.term
						},
						success : function(data) {
							response($.map(data, function(item) {	
								return {									
									value : item.id,
									label : item.nombre,									
									precio : item.stocks[0].precioUnidad,
									stock : item.total,
								};
							}));
						},
					});
				},
				select : function(event, ui) {
					
					$("#buscar_producto").val(ui.item.label);
					if(itemsHelper.hasProducto(ui.item.value)){
						itemsHelper.incrementaCantidad(ui.item.value, ui.item.precio);
						return false;
					}
					
					var linea = $("#plantillaItemsProductos").html();
					
					linea = linea.replace(/{ID}/g, ui.item.value);
					linea = linea.replace(/{NOMBRE}/g, ui.item.label);
					linea = linea.replace(/{PRECIO}/g, ui.item.precio);
					linea = linea.replace(/{TOTAL}/g, ui.item.stock);
					
					$("#cargarItemProductos tbody").append(linea);
					itemsHelper.calcularImporte(ui.item.value, ui.item.precio, 1, ui.item.stock);

					return false;
				}
			});
			
			$("form").submit(function(){
				$("#plantillaItemsProductos").remove();
				return;
			});

		});
		
		var itemsHelper = {	
			calcularImporte: function(id, precio, cantidad, stock){
				if(cantidad<=stock ){
					if(cantidad<1){
						$("#cantidad_" + id).val(1);
					}else{
						$("#total_importe_" + id).html(parseInt(precio) * parseInt(cantidad));
						this.calcularGranTotal();
					}	
				}else{
					if(cantidad<1){
						$("#cantidad_" + id).val(1);
					}else{
						$("#cantidad_" + id).val(stock);
					}					
				}		
			},
			hasProducto: function(id){
				var resultado = false;
				
				$('input[name="item_id[]"]').each(function(){
					if(parseInt(id) == parseInt($(this).val()) ){
						resultado = true;
					}
				});
				
				return resultado;
			},
			incrementaCantidad: function(id, precio){
				var cantidad = $("#cantidad_" + id).val() ? parseInt($("#cantidad_" + id).val()) : 0;
				$("#cantidad_" + id).val(++cantidad);
				this.calcularImporte(id, precio, cantidad, stock);
			},
			eliminarLineaProducto: function(id){
				$("#row_" + id).remove();
				this.calcularGranTotal();
			},
			calcularGranTotal: function(){
				
				var total = 0;
				
				$('span[id^="total_importe_"]').each(function(){
					total += parseInt($(this).html());
				});
				
				$('#gran_total').html(total);
			}
		}
	</script>
</body>
</html>