<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-silver">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a class="btn btn-dark btn-xs"
						th:href="@{'/listar'}">&laquo; volver</a>
				</h4>

				<form th:action="@{/stock/form/}" th:object="${stock}"
					method="post">
					
					<!-- <div class="form-group row">						
						<div class="col-sm-6">
							<input name="id"
								th:value="${stock.id}"
								class="form-control" disabled='disabled' />
						</div>
					</div> -->

					<div class="form-group row">
						<label for="producto" class="col-sm-2 col-form-label"
							>Producto</label>
						<div class="col-sm-6">
							<input name="producto"
								th:value="${stock.producto.nombre}"
								class="form-control" disabled='disabled' />
						</div>
					</div>					

					<div class="form-group row">
						<label for="cantidadComprada" class="col-sm-2 col-form-label"
							>Cantidad</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{cantidadComprada}" class="form-control" th:errorclass="'form-control is-invalid'" />							
						</div>
					</div>
					
					<div class="form-group row">
						<label for="precioCompra" class="col-sm-2 col-form-label"
							>Precio por Unidad</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{precioCompra}" class="form-control" th:errorclass="'form-control is-invalid'" />							
						</div>
					</div>
					
					<div class="form-group row">
						<div class="col-sm-6">
							<input type="hidden" th:field="*{cantidadStock}" class="form-control" th:errorclass="'form-control is-invalid'" 
							disabled='disabled' />							
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="${titulo}"
								class="btn btn-primary-custom" />
						</div>
					</div>
				</form>


			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>